{% extends 'base.html' %}

{% block title %}Vibraphone - Activation Failed{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center mt-5">
        <h1 class="h2 mb-4 text-danger">Activation Failed</h1>
        <p class="lead">The activation link you clicked appears to be invalid or has expired.</p>
        <div class="mt-4">
            <a href="{% url 'signup' %}" class="btn btn-primary btn-lg mt-3">Try signing up again</a>
            <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-lg mt-3 ms-3">Return to homepage</a>
        </div>
    </div>
</div>
{% endblock %}
